{% load menu_tags cms_tags sekizai_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% page_attribute page_title %}</title>
    <meta name="description" content="{% page_attribute meta_description %}"/>
    <meta name="keywords" content="{% page_attribute meta_keywords %}"/>
    {% render_block "css" %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}theme/css/bootstrap/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}theme/css/theme.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}theme/css/external-pages.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
</head>
<body>
{% cms_toolbar %}
<!-- begins navbar -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">
                <img src="{{ STATIC_URL }}theme/img/logo.png" alt="logo" />
            </a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    {% show_menu 0 100 1 1 "top-menu.html" %}
                    <li><a class="btn-header" href="signup.html">Sign up</a></li>
                    <li><a class="btn-header" href="signin.html">Sign in</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- ends navbar -->
{% block content %}Empty page{% endblock %}
<!-- starts footer -->
<div id="footer" class="coming-soon">
    <div class="container">
        <div class="row">
            <div class="span2 offset5">
                <p>2012 - iSells</p>
            </div>
        </div>
    </div>
</div>
<script src="{{ STATIC_URL }}theme/js/bootstrap/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}theme/js/theme.js"></script>
<script src="{{ STATIC_URL }}theme/js/timer.js"></script>
{% render_block "js" %}
</body>
</html>