{% extends "base.html" %}
{% load menu_tags cms_tags sekizai_tags %}
{% block content %}
    <!-- coming soon -->
    <div id="comingsoon" class="comingsoon_page">
        <div class="container">
            <div class="countdown">
                <div class="row">
                    <div class="span6 offset1 left">
                        <h1>{{ request.current_page.get_title }}</h1>
                            {% placeholder "content" or %}
                            <p>
                                There are many variations of passages of Lorem Ipsum available, but the majority
                                have suffered alteration in some form, by injected humour, or randomised words.
                            </p>
                            {% endplaceholder %}
                    </div>
                    <div id="timer" class="span5 right">
                        <div class="figure">
                            <div class="square">
                                <span>165</span>
                            </div>
                            <label>DAYS</label>
                        </div>
                        <div class="figure">
                            <div class="square">
                                <span>75</span>
                            </div>
                            <label>HOURS</label>
                        </div>
                        <div class="figure">
                            <div class="square">
                                <span>34</span>
                            </div>
                            <label>MINUTES</label>
                        </div>
                        <div class="figure">
                            <div class="square">
                                <span>22</span>
                            </div>
                            <label>SECONDS</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subscribe">
                <div class="row">
                    <div class="span12">
                        <form>
                            <input type="text" class="span4" placeholder="Email address"/>
                            <button type="submit" class="btn">Subscribe</button>
                        </form>
                        <div class="follow">
                            <strong>Follow us</strong>
                            <a href="#">
                                <i class="social tw"></i>
                            </a>
                            <a href="#">
                                <i class="social fb"></i>
                            </a>
                            <a href="#">
                                <i class="social pin"></i>
                            </a>
                            <a href="#">
                                <i class="social in"></i>
                            </a>
                            <a href="#">
                                <i class="social gp"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Set your launch date below -->
    <script>
        jQuery(document).ready(function($) {
            CreateTimer("timer", {
                year: 2013,
                month: 1,
                day: 1
            });
        });
    </script>
{% endblock %}