{% extends "base.html" %}
{% load menu_tags cms_tags sekizai_tags %}
{% block content %}
    <script>
        function checkStatus() {
            $.ajax({
                url:"/shop/check_status/{{ site.pk }}/",
                error:function (result) {
                    setTimeout(checkStatus, 5000);
                },
                success:function (result) {
                    alert('done')
                }
            });
        }
        $(function() {
            checkStatus()
        });
    </script>
    <!-- coming soon -->
    <div id="comingsoon" class="comingsoon_page">
        <div class="container">
            <div class="countdown">
                <div class="row">
                    <div class="span6 offset1 left">
                        <h1>{{ site }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}