{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}
    <div id="box_login">
        <div class="container">
            <div class="span12 box_wrapper">
                <div class="span12 box">
                    <div>
                        <div class="head">
                            <h4>Log in to your account</h4>
                        </div>
                        <div class="social">
                            <a class="face_login" href="#">
                                <span class="face_icon">
                                    <img src="{{ STATIC_URL }}theme/img/i_face.png" alt="fb">
                                </span>
                                <span class="text">Sign in with Facebook</span>
                            </a>
                            <div class="division">
                                <hr class="left">
                                <span>or</span>
                                <hr class="right">
                            </div>
                        </div>
                        {% if form.errors %}
                            <p class="error">Please correct the errors below:</p>
                        {% endif %}
                        <div class="form">
                            <form method="post" action="?next={{ next|default:"/" }}">{% csrf_token %}
{#                                <input type="text" placeholder="Email">#}
                                {{ form.username }}
{#                                <input type="text" placeholder="Password">#}
                                {{ form.password }}
                                <div class="remember">
                                    <div class="left">
                                        <input id="remember_me" type="checkbox">
                                        <label for="remember_me">Remember me</label>
                                    </div>
                                    <div class="right">
                                        <a href="reset.html">Forgot password?</a>
                                    </div>
                                </div>
                                <input type="submit" class="btn" value="Sign in">
                            </form>
                        </div>
                    </div>
                </div>
                <p class="already">Don't have an account? <a href="/accounts/register/"> Sign up</a></p>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}