{% extends "base.html" %}
{% block title %}Sign up{% endblock %}

{% block content %}
    <div id="box_sign">
        <div class="container">
            <div class="span12 box_wrapper">
                <div class="span12 box">
                    <div>
                        <div class="head">
                            <h4>Create your account</h4>
                        </div>
                        {% if form.errors %}
                            <p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
                        {% endif %}
                        <div class="form">
                            <form method="post" action="" class="wide">
                                {% csrf_token %}
                                <p>
                                    <label for="id_username">Username:</label>
                                    {% if form.username.errors %}
                                        <p class="errors">{{ form.username.errors.as_text }}</p>
                                    {% endif %}
                                {{ form.username }}
                                </p>
                                <p>
                                    <label for="id_email">Email address:</label>
                                    {% if form.email.errors %}
                                        <p class="errors">{{ form.email.errors.as_text }}</p>
                                    {% endif %}
                                {{ form.email }}
                                </p>
                                <p>
                                    <label for="id_password1">Password:</label>
                                    {% if form.password1.errors %}
                                        <p class="errors">{{ form.password1.errors.as_text }}</p>
                                    {% endif %}
                                {{ form.password1 }}
                                </p>
                                <p>
                                    <label for="id_password2">Password (type again to catch typos):</label>
                                    {% if form.password2.errors %}
                                        <p class="errors">{{ form.password2.errors.as_text }}</p>
                                    {% endif %}
                                {{ form.password2 }}
                                </p>
                                <input type="submit" class="btn" value="Sign up"/>
                            </form>
                        </div>
                    </div>
                </div>
                <p class="already">Already have an account?
                    <a href="signin.html">Sign in</a></p>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}

